apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-pcddiose
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-pcddiose:c2eda12c91c2a5bbc75095253555985718b2c4a7@sha256:e674eb82b5fcf2407182bf846fdfa8e7544efa1390ce90909a4546f2e989cf66
        name: container-image  
